header
  .header-content
    h1.logo kentaru

    nav.site-nav.is-click
      ul
        li: a(href="#about") About Me
        li: a(href="#myworks") My Works
        li: a(href="contact") Contact Me
