section.my-works
  .flex.flex--center
    .col-des
      h1 my works..
      .designs.flex--center
        a(href="#1")
          img(src="assets/img/design/1.jpg").des-img
        a(href="#2")
          img(src="assets/img/design/8.jpg").des-img
        a(href="#3")
          img(src="assets/img/design/3.jpg").des-img
        a(href="#4")
          img(src="assets/img/design/4.jpg").des-img
        a(href="#5")
          img(src="assets/img/design/5.jpg").des-img
        a(href="#6")
          img(src="assets/img/design/6.jpg").des-img
        a(href="#7")
          img(src="assets/img/design/7.jpg").des-img
        a(href="#8")
          img(src="assets/img/design/2.jpg").des-img
